#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),url("../assets/11.webp");
    background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 85vh;
    width: 100%;
    }
    
    
#service{
    background: linear-gradient(to right, #1C4878, #1D6075, #1E846F);

}

#footer {
    background: linear-gradient(to right, #1C4878, #1D6075, #1E846F);
    color: white;
}

#team {
    background-color: #D9D9D9;
}

#profile {
    border-radius: 50px;
}

.scroll{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  #image {
    padding: 10px;
  }

#head{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url("../assets/022.jpg");
    background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: auto;
    width: 100%;
    }